.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search{
padding-top: 24px;
/* -ms-transform: translateY(-50% -50%);
transform: translateY(-50% -50%); */
  background-color: darkolivegreen;
  height: 60px;
   
}

.movieCard{
  display: block;
  margin-bottom: 60px;
  background-color: darkolivegreen;
  height: 190px;
  width: 290px;
}

.movieList{

  margin-top: 30px;
  display:flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.oneCard:hover{
 
  cursor: pointer;
  transform: scale(1.1);
  color: #61dafb;
  /* overflow: hidden; */
  transition: transform .2s ;
  
  /* filter: grayscale(100%); */
}


img{
  margin-bottom: auto;
  width:290px;
  height: 400px;
}

img:hover{
  filter: brightness(75%);
  filter: blur(2px);
  
}

.container{
  position: relative;
}

.choice{
  color:white;
  margin-bottom: 30px;
}

/* .choice{
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
} */

/* .choice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

/* .container:hover .choice button {
  visibility: visible;
} */
/* img:hover #j {
  visibility: visible;
} */

.addblock{
  
  padding-top: 24px;
  background-color: darkolivegreen;
  height: 50px;

}

form{
  background-color: darkolivegreen;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form >label{
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

form >input{
  width: 200px;
  margin-bottom: 10px;
}




